$colorPrincipal: #ecfe29;
$colorParr: #4d4b5c;
$colorDark: #352b36;
$colorLight: #e4e4e4;
$fontPrincipal: 'Roboto', sans-serif;
$fontSpan: 'Anton', sans-serif;
$fontCuatro: 'Anton', sans-serif;
$sizeSpan: 0.8em;
$sizeParr: 1.35em;
$heightSect: 100vh;
$marginContent: 130px;
$borderPrinc: 4px solid #ecfe29;

